# Protection du fichier .env
<Files .env>
    Order allow,deny
    Deny from all
</Files>

# Protection des fichiers sensibles
<FilesMatch "^(composer\.(json|lock)|package\.json|\.gitignore|\.gitattributes)$">
    Order allow,deny
    Deny from all
</FilesMatch>
